<h1>Proyectos</h1>

<%= link_to 'Nuevo Proyecto', new_project_path %>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project %> - Estado: <%= project.aasm.current_state %>
    </li>
  <% end %>
</ul>
